<!DOCTYPE html>
<html>
<script src="/public/js/lib/angular.js"></script>
<script src="/public/js/controller.js"></script>
<link rel="stylesheet" href="public/css/main.css">

<body>
<div class="title">
    <span>Графическая система документооборота</span>
</div>
<div ng-init='init()' ng-app="myApp" ng-controller="myCtrl">
    <table>
        <tr>
            <td class="gsd">
              <svg ng-hide="network == null" "width="500" height="500">
                <g ng-repeat="node in network.nodes"
                   ng-class="{node: true, selected: isNodeSelected(node)}"
                   id="{{node.id}}"
                   transform="translate({{node.x}},{{node.y}})"
                   ng-click="selectStatus(node)">
                    <circle class="shape" r="40"></circle>
                    <text text-anchor="middle">{{node.label.substring(0,10)}}</text>
                </g>

                <!-- TODO maybe wrap in g element? -->
                <path ng-repeat-start="link in network.links"
                      ng-class="{link: true, selected: isLinkSelected(link)}"
                      ng-init="from=getNodeById(link.from);to=getNodeById(link.to);"
                      id="l{{from.id}}-{{to.id}}"
                      d="M{{from.x}},{{from.y}}L{{to.x}},{{to.y}}"
                      ng-click="selectOperation(link)">
                </path>
                <text ng-repeat-end
                      ng-click="selectOperation(link)">
                  <textPath
                            ng-init="from=getNodeById(link.from);to=getNodeById(link.to);"
                            xlink:href="" ng:href="#l{{from.id}}-{{to.id}}"
                            startOffset="50%">
                    {{link.label}}
                  </textPath>
                </text>
              </svg>
            </td>
            <td>
                <div id="info">
                    <table>
                        <tr>
                            <td>
                                <div class="appsearch">
                                    <br>
                                    <input placeholder="Выбор заявки" ng-model="selectedExtidappli" size="10">
                                        <button ng-click="getApplication()" ng-show="selectedExtidappli.length>0">OK</button>
                                    {{application.title}}
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="operation">
                                    <span class = "localtitle">Операция: {{selectedOperation.name}} </span>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="documents">
                                    <span class = "localtitle">Документы: </span>
                                    <div ng-repeat="document in selectedOperation.documents">{{x}}
                                        <br><input type="checkbox" checked>  {{document.name}}
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="letters">
                                    <span class = "localtitle">Письма: </span>
                                    <div ng-repeat="letter in selectedOperation.letters">{{x}}
                                        <br><input type="checkbox" checked>  {{letter.name}}
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div>
                                <div class="controlpanel">
                                    <div class = "localtitle" class="controlpanel"><button>Провести оперцию!</button></div>
                                </div>
                            </td>
                        </tr>
                        </tr>
                    </table>
                </div>
            </td>

        </tr>
    </table>
</div>

</body>
</html>
