<!DOCTYPE html>
<html>
<script src="/public/js/lib/angular.min.js"></script>
<script src="/public/js/lib/vis.js"></script>
<script src="/public/js/hello.js"></script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="public/css/main.css">

<style>

</style>

<body>
<div class="title">
    <span>Графическая система документооборота</span>
</div>
<div ng-init='init()' ng-app="myApp" ng-controller="myCtrl">
    <table>
        <tr>
            <td>
                <div id="stdnetwork"></div>
            </td>
            <td>
                <div id="info">
                    <table>
                        <tr>
                            <td>
                                <div class="appsearch">
                                    <span class = "localtitle" >Выбор заявки: </span><input size="10"/><button>OK</button>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="operation">
                                    <span class = "localtitle">Операция: {{selectedOperation.name}} </span>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="documents">
                                    <span class = "localtitle">Документы: </span>
                                    <div ng-repeat="document in selectedOperation.documents">{{x}}
                                        <br><input type="checkbox" checked>  {{document.name}}
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="letters">
                                    <span class = "localtitle">Письма: </span>
                                    <div ng-repeat="letter in selectedOperation.letters">{{x}}
                                        <br><input type="checkbox" checked>  {{letter.name}}
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div>
                                <div class="controlpanel">
                                    <div class = "localtitle" class="controlpanel"><button>Провести оперцию!</button></div>
                                </div>
                            </td>
                        </tr>
                        </tr>
                    </table>
                </div>
            </td>

        </tr>
    </table>
</div>

</body>
</html>
